---
layout: default
---

<header>
  <h1><%= data.title %></h1>
  <div class="meta">
    <span class="published-on"><%= date_to_long_string(data.date) %></span>
    <% if data.categories && data.categories.any? %>
      <ul>
        <% data.categories.each do |category| %>
          <li><a href="<%= relative_url("/categories/#{category.downcase}") %>"><%= category.downcase %></a></li>
        <% end %>
      </ul>
    <% end %>
  </div>
</header>

<%= yield %>
